<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="somke">
    <test verbose="1" name="smoke" >
        <classes>
            <class name="bai.zsj.com.Test2"/>
            <class name="bai.zsj.com.Test1"/>
        </classes>
    </test>
</suite>
